{{ define "index/index.html" }}
{{ template "header.html" . }}

{{ template "nav.html" . }}

<section class="home-banner-area relative">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-8 col-md-12">
        <h1 class="wow fadeIn" data-wow-duration="4s">
          {{.IndexData.HeadTitle}}
        </h1>
        <p class="text-white">
          {{.IndexData.HeadDescribe}}
        </p>

        <div class="input-wrap">
          <form action="" class="form-box d-flex justify-content-between">
            <input type="text" placeholder="Search Courses" class="form-control" name="username">
            <button type="submit" class="btn search-btn">Search</button>
          </form>
        </div>
        <h4 class="text-white">Top courses</h4>

        <div class="courses pt-20">
          <a href="#" data-wow-duration="1s" data-wow-delay=".3s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Ruby
            on Rails</a>
          <a href="#" data-wow-duration="1s" data-wow-delay=".6s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Python</a>
          <a href="#" data-wow-duration="1s" data-wow-delay=".9s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Marketing</a>
          <a href="#" data-wow-duration="1s" data-wow-delay="1.2s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">UI/UX
            Design
          </a>
          <a href="#" data-wow-duration="1s" data-wow-delay="1.5s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Android</a>
          <a href="#" data-wow-duration="1s" data-wow-delay="1.8s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Data
            Science
          </a>
          <a href="#" data-wow-duration="1s" data-wow-delay="2.1s"
             class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Cryptocurrency</a>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="/assets/img/rocket.png" alt="">
  </div>
</section>
<!-- End Banner Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 about-left">
        <img class="img-fluid" src="/assets/img/about.jpg" alt="">
      </div>
      <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
        <h1>
          {{.IndexData.CourseIntroduceTitle}}
        </h1>
        <div class="wow fadeIn" data-wow-duration="1s">
          <p>
            {{.IndexData.CourseIntroduceDescribe}}
          </p>
        </div>
        <a href="courses.html" class="primary-btn">Explore Courses</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->


<!-- Start Courses Area -->
<section class="courses-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 about-right">
        <h1>
          {{.IndexData.SubjectIntroduceTitle}}
        </h1>
        <div class="wow fadeIn" data-wow-duration="1s">
          <p>
            {{.IndexData.SubjectIntroduceDescribe}}
          </p>
        </div>
        <a href="courses.html" class="primary-btn white">Explore Courses</a>
      </div>
      <div class="offset-lg-1 col-lg-6">
        <div class="courses-right">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ul class="courses-list">
                {{range $index, $item := .IndexData.SubjectIntroduceLeftCategory}}
                  <li>
                    <a class="wow fadeInLeft" href="#" data-wow-duration="1s"
                       data-wow-delay=".{{$index}}s">
                      <i class="fa fa-book"></i> {{$item}}
                    </a>
                  </li>
                {{end}}
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ul class="courses-list">
                {{range $index, $item := .IndexData.SubjectIntroduceRightCategory}}
                  <li>
                    <a class="wow fadeInRight" href="#" data-wow-duration="1s"
                       data-wow-delay="1.{{$index}}s">
                      <i class="fa fa-book"></i> {{$item}}
                    </a>
                  </li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Courses Area -->


<!--Start Feature Area -->
<section class="feature-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h1>{{.IndexData.TeachingMethodsTitle}}</h1>
          <p>
            {{.IndexData.TeachingMethodsDescribe}}
          </p>
        </div>
      </div>
    </div>
    {{range $index, $item := .IndexData.TeachingMethodsCards}}
    <div class="feature-inner row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-crown"></i>
          <h4>{{$item.TeachingMethodsCardTitle}}</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".{{$index}}s">
            <p>
              {{$item.TeachingMethodsCardDescribe}}
            </p>
          </div>
        </div>
      </div>
    {{end}}
    </div>
  </div>
</section>
<!-- End Feature Area -->


<!-- Start Faculty Area -->
<section class="faculty-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h1>{{.IndexData.MemberIntroduceTitle}}</h1>
          <p>
            {{.IndexData.MemberIntroduceDescribe}}
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="/assets/img/faculty/f1.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Ethel Davis</h4>
          <p class="designation">Sr. Faculty Data Science</p>
          <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <p>
              If you are looking at blank cassettes on the web, you may be very confused at the difference
              in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="/assets/img/faculty/f2.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Rodney Cooper</h4>
          <p class="designation">Sr. Faculty Data Science</p>
          <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <p>
              If you are looking at blank cassettes on the web, you may be very confused at the difference
              in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="/assets/img/faculty/f3.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Dora Walker</h4>
          <p class="designation">Sr. Faculty Data Science</p>
          <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
            <p>
              If you are looking at blank cassettes on the web, you may be very confused at the difference
              in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="/assets/img/faculty/f4.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Lena Keller</h4>
          <p class="designation">Sr. Faculty Data Science</p>
          <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
            <p>
              If you are looking at blank cassettes on the web, you may be very confused at the difference
              in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Faculty Area -->


<!-- Start Testimonials Area -->
<section class="testimonials-area section-gap">
  <div class="container">
    <div class="testi-slider owl-carousel" data-slider-id="1">
      <div class="item">
        <div class="testi-item">
          <img src="/assets/img/quote.png" alt="">
          <h4>Fanny Spencer</h4>
          <ul class="list">
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
          </ul>
          <div class="wow fadeIn" data-wow-duration="1s">
            <p>
              As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
              you think about it, you travel
              across her face <br> and She is the host to your journey.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testi-item">
          <img src="/assets/img/quote.png" alt="">
          <h4>Fanny Spencer</h4>
          <ul class="list">
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
          </ul>
          <div class="wow fadeIn" data-wow-duration="1s">
            <p>
              As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
              you think about it, you travel
              across her face <br> and She is the host to your journey.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testi-item">
          <img src="/assets/img/quote.png" alt="">
          <h4>Fanny Spencer</h4>
          <ul class="list">
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
          </ul>
          <div class="wow fadeIn" data-wow-duration="1s">
            <p>
              As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
              you think about it, you travel
              across her face <br> and She is the host to your journey.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testi-item">
          <img src="/assets/img/quote.png" alt="">
          <h4>Fanny Spencer</h4>
          <ul class="list">
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
            <li><a href="#"><i class="fa fa-star"></i></a></li>
          </ul>
          <div class="wow fadeIn" data-wow-duration="1s">
            <p>
              As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
              you think about it, you travel
              across her face <br> and She is the host to your journey.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
      <div class="owl-thumb-item">
        <div>
          <img class="img-fluid" src="/assets/img/testimonial/t1.jpg" alt="">
        </div>
        <div class="overlay overlay-grad"></div>
      </div>
      <div class="owl-thumb-item">
        <div>
          <img class="img-fluid" src="/assets/img/testimonial/t2.jpg" alt="">
        </div>
        <div class="overlay overlay-grad"></div>
      </div>
      <div class="owl-thumb-item">
        <div>
          <img class="img-fluid" src="/assets/img/testimonial/t3.jpg" alt="">
        </div>
        <div class="overlay overlay-grad"></div>
      </div>
      <div class="owl-thumb-item">
        <div>
          <img class="img-fluid" src="/assets/img/testimonial/t4.jpg" alt="">
        </div>
        <div class="overlay overlay-grad"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Area -->

{{ template "footer.html" . }}
{{ end }}