{{ define "nav.html" }}
<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/"><img src="/assets/img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    {{range .NavList}}
                    <li class="{{ if .Active}} menu-active {{else}} {{end}}">
                        <a href="{{.Url}}">{{ .Title}}</a>
                    </li>
                    {{end}}

<!--                    <li>-->
<!--                        <a href="/about">关于我们</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/courses">课程</a>-->
<!--                    </li>-->
<!--                    <li class="menu-has-children">-->
<!--                        <a href="">单页</a>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <a href="elements.html">Elements</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="menu-has-children">-->
<!--                        <a href="">博客</a>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <a href="blog-home.html">Blog Home</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="blog-single.html">Blog Details</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/contact">联系我们</a>-->
<!--                    </li>-->
                </ul>
            </nav>
        </div>
    </div>
</header>
{{ end }}